*{
    padding: 0;
    margin: 0;
}
body{
    background-size: cover;
}
header{
    background-color: black;
    height: 5em;
    }

    img{
        margin-left: 10%;
        margin-top: 10px;

    }

    .headertags{
        float: right;
        margin-top: 33px;
        margin-left: 55px;
    }

    .headertags a{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-decoration: none;
        color: white;
        border: 1px white solid;
        padding: 8px ;
        margin-right: 8px;
    }

    .headertags a:hover{
        background-color: teal;
        color: black;
        transition: 0.5s ease-in-out;
       
    }

    .contentpart{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: white;
        padding: 100px;
        
    }

    .contentpart li{
        list-style-type: square;
        margin-bottom: 5px;
    }

   .login{
       float: right;
       border: 2px red solid;
       background-color: beige;
       height: 15em;
       margin-top: 5%;
       margin-right: 2%;
       padding: 30px;
   }

   .login h2{
       text-align: center;
   }

   .login input{
       height: 1.5em;

   }

   .login #loginbutton{
       width: 100%;
       height: 1.8em;
       color: white;
       background-color: dodgerblue;
       border: 1px solid dodgerblue;
   }

   
   .container{
       /* border: 2px solid black; */
       margin-top: 7%;
       margin-left: 5%;
   }

   .p-box{
    border: 2px solid white;
    width: 23%;
    float: left;
    margin-left: 10px;
    height: 18em;
    padding: 5px;
    background-color: gray;
    
}

.p-box h3{
        text-align: center;
        text-transform: uppercase;
}

.p-box p{
    line-height: 1.25em;
    text-align: justify;
}

.p-box a{
    text-decoration: none;
    color: red;

}

footer{
    background-color: black;
    color: white;
    margin-top: 30%;
}

footer h3{
    text-align: center;
}
